*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
	width: 100%;
	height: 100%;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 100%;
	min-width: 1205px;
	overflow-y: hidden;
	background-image: url(images/background.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	color: aliceblue;
}

#main-area{
	position: relative;
	height: 100%;
	min-width: 1205px;
}

#game-container{
	position: absolute;
	/*top: 15%;*/
	top: 50%;
    transform: translateY(-50%);
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
    height: 500px;
    width: 500px;
	filter: drop-shadow(0 0px 3px black);
}

#game-board{
	position: absolute;
    background-color: #ccd6e8;
	height: 500px;
    width: 500px;
	/*border: 3px solid black;*/
	box-shadow: 0px 0px 3px black;
	z-index: 2;
}
.tile{
	position: absolute;
	background-size: 500px 500px;
	overflow: hidden;
	height: 125px;
	width: 125px;
	z-index: 2;
}

#blank{
	background-color: transparent;
}

.horizontal-section{
	position: absolute;
	left: 50px;
	right: 50px;
	height: 100px;
	text-align: center;
	background-color: #0062ff;
	min-width: 1205px;
	z-index: 1;
	box-shadow: 0px 0px 3px black;
}


#title{
	font-size: 70px;
	transform: translateY(8px);
}

header{
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px; 
}
footer{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px; 
	bottom: 0px;
}

.game-extension{
	position: absolute;
	left: 0px;
	transition: left .4s ease 0s;
	
	z-index: -5;
}

.show-hide{
	position: absolute;
	left: -50px;
	height: 50px;
	width: 50px;
	background-color: #0062ff;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background-size: 44px 44px;
	background-repeat: no-repeat;
	background-position: 3px 3px;
}
.info{
	position: absolute;
	background-color: #0062ff;
	height: 500px;
	width: 300px;
	border-bottom-left-radius: 10px;
}

#menu{
	position: absolute;
	height: 500px;
	width: 250px;
	left: 500px;
	background-color: #0062ff;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 0px 0px 3px black;
	text-align: center;
}

button{
	display: inline-block;
	width: 170px;
	height: 45px;
	margin: 15px;
	border-radius: 10px;
	background-color: snow;
	font-size: 20px;
}

select{
	border-radius: 5px;
	background-color: azure; 
	height: 50px;
    overflow: hidden;
    width: 175px;
}

#scrambleScreen{
	background-color: white;
	opacity: 0.8;
	z-index: 10;
	position: absolute;
	height: 500px;
	width: 500px;
	text-align: center;
}

#scrambleMessage{
	position: relative;
	color: black;
	top: 50%;
	transform: translateY(-50%);
}

.extension-content{
	width: 230px;
	margin-top: 50px;
	margin-left: 30px;
	position: relative;
	text-align: center;
}

.information-list-item{
	margin-bottom: 10px;
}
h2{
	margin-bottom: 20px;
}

footer h3{
	position: relative;
	display: inline;
	margin-left: 50px;
	top: 40px;
}

#image-sample{
	width 100px;
	height: 100px;
	min-width: 100px;
	min-height: 100px;
	border: 2px black solid;
}